.sidebar-header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* padding-left: 13px;
    box-sizing: border-box; */
    /* justify-content: center; */
}

.sidebar-nav-wrapper{
    margin-top: 12px;
    width: 100%;
    height: calc(100% - 100px - 100px - 24px);
    position: relative;
    overflow: hidden;
}

.budget-progress{
    margin-top: 12px;
    width: 100%;
    height: 100px;
    padding: 15px;
    box-sizing: border-box;
    background-color: lab(48.12% 11.57 -58.64 / 0.151);;
    border-radius: 10px;
}

.sidebar-header >.logo{
    display: flex;
    align-items: center;
}

.sidebar-header >.logo > .logo-icon{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: var(--sidebar-primary);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .sidebar-header > .logo > img{
    width: 50px;
    height: 50px;
} */

.sidebar-header >.logo > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-nav{
    /* margin-top: 12px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: none;
}

.sidebar-nav::-webkit-scrollbar{
    display: none;
}

.sidebar-nav li{
    list-style-type: none;
}

.sidebar-nav > li+li{
    /* margin-top: 20px; */
}

.sidebar-nav li > .nav-item{
    display:flex;
    text-decoration:none;
    align-items:center;
    /* gap:12px; */
    padding:15px 15px;
    box-sizing: border-box;
    border-radius:10px;
    margin-bottom:6px;
    cursor:pointer;
    font-size:14px;
    color:#a9b1b9;
    transition:all .2s;
    width: 100%;
}

.sidebar-nav li > .nav-item svg{
    width:18px;
    height:18px;
    opacity:.9;
}

.sidebar-nav li > .nav-item:hover{background:#162f4a;color:white}

.sidebar-nav li > .nav-item.active{background:#1e3650;color:white}

.sidebar-nav li > .nav-item > span{
    margin-left: 5px;
}

.sidebar-nav li > .sub-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25 ease;
    /* box-sizing: border-box;
    width: 100%;
    display: none; */
}

.sidebar-nav li:hover > .sub-menu{
    max-height: 200px;
}

.sidebar-nav li > .sub-menu > li span{
    padding-left: 18px;
    box-sizing: border-box;
}

/* scrollbar container */
.sidebar-nav-wrapper > .scrollbar {
    position: absolute;
    right: 4px;
    top: 8px;
    bottom: 8px;
    width: 5px;
    transition: 0.25s ease;
    opacity: 0.4;
    pointer-events: auto;
    background-color: red;
}

/* hover vào content HOẶC scrollbar đều to ra */

.sidebar-nav-wrapper > .scrollbar:hover {
    width: 8px;
    opacity: 1;
}

.sidebar-nav-wrapper:hover > .scrollbar{
    width: 8px;
    opacity: 1;
}

/* thumb */
.sidebar-nav-wrapper > .scrollbar > .thumb {
    position: absolute;
    width: 100%;
    background: rgba(255,255,255,0.3);
    border-radius: 20px;
    top: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.sidebar-nav-wrapper > .scrollbar:hover .thumb {
    background: rgba(255,255,255,0.6);
}

.sidebar-nav-wrapper > .scrollbar > .thumb:hover {
    background: rgba(255,255,255,0.9);
}
