.btn{
    background-color: var(--primary);
    cursor: pointer;
    color: var(--popover);
}

.btn-trans{
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.btn-border-trans{
    border: 1px solid var(--border);
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.btn-parent{
    cursor: pointer;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
}

.btn-parent > .btn-child{
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.btn-parent > .btn-child+.btn-child{
    border-left: 1px solid var(--border);
}