/* base wrapper */
.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

/* base input + textarea */
.input,
.text-area {
    width: 100%;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 12px 14px;
    box-sizing: border-box;
    font-size: 14px;
    outline: none;
    transition: .2s;
}

.input:focus,
.text-area:focus {
    border-color: #10b981;
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.15);
}

/* icon base */
.input-icon {
    position: absolute;
    font-size: 16px;
    color: #6b7280;
    pointer-events: none;
}

/* html::source
<label>Input thường</label>
<div class="input-wrapper">
    <input type="text" class="input" placeholder="Nhập nội dung...">
</div> */

/* icon trái */
.has-icon-left .input {
    padding-left: 42px;
}

.has-icon-left .input-icon.left {
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}


/* html::source
<label>Input icon trái</label>
<div class="input-wrapper has-icon-left">
    <span class="input-icon left">🔍</span>
    <input type="text" class="input" placeholder="Tìm kiếm..." >
</div> */

/* icon phải */
.has-icon-right .input {
    padding-right: 42px;
}

.has-icon-right .input-icon.right {
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}



/* html::source
<label>Input icon phải</label>
<div class="input-wrapper has-icon-right">
    <input type="text" class="input" placeholder="Chọn ngày..." >
    <span class="input-icon right">📅</span>
</div> */

/* icon 2 bên */
.has-icon-both .input {
    padding-left: 42px;
    padding-right: 42px;
}

.has-icon-both .input-icon.left {
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.has-icon-both .input-icon.right {
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
}



/* html:soruce
<label>Input icon hai bên</label>
<div class="input-wrapper has-icon-both">
    <span class="input-icon left">🔍</span>
    <input type="text" class="input" placeholder="Search..." >
    <span class="input-icon right">✕</span>
</div> */

/* textarea */
.text-area {
    min-height: 120px;
    resize: vertical;
}


/* html::source
<label>Textarea thường</label>
<div class="input-wrapper">
    <textarea class="text-area" placeholder="Nhập ghi chú..."></textarea>
</div> */

/* textarea có icon */
.has-textarea-icon .text-area {
    padding-left: 42px;
}

.has-textarea-icon .input-icon {
    left: 14px;
    top: 14px;
}


/* html:source
<label>Textarea có icon</label>
<div class="input-wrapper has-textarea-icon">
    <span class="input-icon">📝</span>
    <textarea class="text-area" placeholder="Nhập mô tả..."></textarea>
</div> */